body {
  background-color: #F1FDF3;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  height: 0;
  width: 10%;
}
h1{ color: #2EAC6D;
}
h3{
  color: #2EAC6D;
}
h2
{
  color: #2EAC6D
}
